@font-face {
    font-family: "SF-Pro";
    src: url("fonts/SF-Pro.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: left;
    width: 80%;
    max-width: 600px;
}

.title {
    font-family: "SF-Pro", sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.paragraph {
    font-family: "SF-Pro", sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

.button-wrapper {
    margin-top: 10px;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.download-button {
    font-family: "SF-Pro", sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.learn-more {
    font-family: "SF-Pro", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
